<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/admin_panel.css" />
    <title>Login</title>
  </head>

  <body>
    <div class="content">
      <div class="sign-in">
        <div class="title">
          <h1>LOGIN</h1>
        </div>

        <div class="username">
          <h2>Username</h2>
          <input type="text" placeholder="Username/email" />
        </div>

        <div class="pasword">
          <h2>Password</h2>
          <input type="password" placeholder="Password" />
        </div>

        <div class="button">
          <button class="cancel">Cancel</button>

          <button class="login">Login</button>
        </div>

        <div class="sign-up">
          <span>Not a member?</span>
          <a href="#">Sign-up</a>
        </div>

        <a href="#">Forgot password username?</a>
      </div>
    </div>
  </body>
</html>
