<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/eset_page.css" />
    <title>APP</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="eset">
      <div class="container">
        <div class="eset-content">
          <div class="img">
            <img src="../img/eset_page/box-eis.png" alt="" />
          </div>

          <div class="eset-text">
            <div class="text-top">
              <h1>ESET NOD32 ANTIVIRUS</h1>
              <p>Новая мультиплатформенная защита для Windows, macOS и Linux</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="container">
        <div class="eset-info">
          <div class="about">
            <ul>
              <li>На учёбе, работе и дома: всегда будьте под защитой</li>
              <li>Новая технология</li>
              <li>Удалите и вылечите вирусы</li>
              <li>Надежная защита для бизнеса</li>
            </ul>
          </div>

          <div class="info-img">
            <div class="img">
              <img src="../img/eset_page/info 1.png" alt="" />
            </div>

            <div class="img">
              <img src="../img/eset_page/info 2" alt="" />
            </div>

            <div class="img">
              <img src="../img/eset_page/info3" alt="" />
            </div>

            <!-- <div class="img">
                        <img src="../img/eset_page/info4.jfif" alt="">
                    </div> -->

            <div class="img">
              <img src="../img/eset_page/info5.jfif" alt="" />
            </div>

            <!-- <div class="img">
                        <img src="../img/eset_page/info6.jpg" alt="">
                    </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="eset-download">
      <div class="container">
        <div class="tabs">
          <div class="menu-tabs">
            <ul>
              <li>
                <div class="img">
                  <img src="../img/eset_page/icon.png" alt="" />
                </div>

                <b>Windows</b>
              </li>

              <li>
                <div class="img">
                  <img
                    src="../img/eset_page/FinderIcon-56a5d4d55f9b58b7d0dea008.jpg"
                    alt=""
                  />
                </div>
                <b>MacOs</b>
              </li>

              <li>
                <div class="img">
                  <img src="../img/eset_page/linux.jfif" alt="" />
                </div>

                <b>Linux</b>
              </li>
            </ul>
          </div>

          <div class="menu-content">
            <aside class="active">
              <div class="item">
                <div class="img">
                  <img src="../img/eset_page/windows 1 eset.png" alt="" />
                </div>

                <div class="text">
                  <h3>ESET NOD32 Internet Security</h3>

                  <p>
                    Комплексное антивирусное решение обеспечивает высокий
                    уровень защиты от всех видов угроз. Защищает веб-камеру от
                    нежелательных подключений и позволяет безопасно оплачивать
                    покупки в интернете.
                  </p>

                  <button>
                    <a
                      href="https://download.eset.com/com/eset/tools/installers/live_eis/latest/eset_internet_security_live_installer.exe"
                      >Cкачать</a
                    >
                  </button>
                </div>
              </div>

              <div class="item">
                <div class="img">
                  <img src="../img/eset_page/windows 2 eset.png" alt="" />
                </div>

                <div class="text">
                  <h3>ESET NOD32 Антивирус</h3>

                  <p>
                    Быстрое и надежное решение для базовой защиты компьютера от
                    вирусов, червей, троянских программ, шпионского, рекламного
                    и потенциально опасного ПО, эксплойтов, руткитов и
                    фишинг-атак.
                  </p>

                  <button>
                    <a
                      href="https://download.eset.com/com/eset/tools/installers/live_eav/latest/eset_nod32_antivirus_live_installer.exe"
                      >Cкачать</a
                    >
                  </button>
                </div>
              </div>
            </aside>

            <aside>
              <div class="item">
                <div class="img">
                  <img src="../img/eset_page/mac 1 eset.png" alt="" />
                </div>

                <div class="text">
                  <h3>ESET NOD32 Cyber Security Pro</h3>

                  <p>
                    Многоуровневая защита от кроссплатформенных угроз, атак
                    злоумышленников и нежелательных сайтов. Включает Файервол и
                    Родительский контроль.
                  </p>

                  <button>
                    <a
                      href="https://download.eset.com/com/eset/apps/home/ess/mac/latest/eset_cybersecurity_pro_ru.dmg"
                      >Cкачать</a
                    >
                  </button>
                </div>
              </div>

              <div class="item">
                <div class="img">
                  <img src="../img/eset_page/mac 2 eset.png" alt="" />
                </div>

                <div class="text">
                  <h3>ESET NOD32 Cyber Security</h3>

                  <p>
                    Антивирус для компьютеров на базе Mac OS X. Надежно защищает
                    от вредоносных приложений и попыток хищения конфиденциальных
                    данных.
                  </p>

                  <button>
                    <a
                      href="https://download.eset.com/com/eset/apps/home/eav/mac/latest/eset_cybersecurity_ru.dmg"
                      >Cкачать</a
                    >
                  </button>
                </div>
              </div>
            </aside>

            <aside>
              <div class="item">
                <div class="img">
                  <img src="" alt="" />
                </div>

                <div class="text">
                  <h3></h3>

                  <p></p>

                  <button></button>
                </div>
              </div>

              <div class="item">
                <div class="img">
                  <img src="" alt="" />
                </div>

                <div class="text">
                  <h3></h3>

                  <p></p>

                  <button></button>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
