{% load i18n %}{% autoescape off %}
{% blocktranslate %}Siz ushbu xabarni olishingizga sabab {{ site_name }} orqali email orqali parolingizni tiklashingizn haqida so'rov yubordingiz{% endblocktranslate %}

{% translate "Iltimos quyidagi sahifaga boring va parolni o'zgartiring!" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Sizning username ingiz:' %} {{ user.get_username }}

{% translate "Bizning saytimizdan foydalanganingiz uchun tashakkur bildiramiz!" %}

{% blocktranslate %}{{ site_name }} jamoasi{% endblocktranslate %}

{% endautoescape %}
